<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="RStore" version="3.0">


    <display-name>Retro Store</display-name>

    <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.ak.rstore.servlets.StartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowcaseServlet</servlet-name>
        <servlet-class>com.ak.rstore.servlets.ShowcaseServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>LoginRegFilter</filter-name>
        <filter-class>com.ak.rstore.servlets.LoginRegFilter</filter-class>
    </filter>

    <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/Start.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowcaseServlet</servlet-name>
        <url-pattern>/Showcase.do</url-pattern>
    </servlet-mapping>



    <filter-mapping>
        <filter-name>LoginRegFilter</filter-name>
        <url-pattern>/Register.do</url-pattern>
        <url-pattern>/Login.do</url-pattern>
        <url-pattern>/Logout.do</url-pattern>
        <!--<url-pattern>*/</url-pattern>-->
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
